<h1>トピック:<%= @topic.title %></h1>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="btn btn-outline-primary" data-show-count="false" data-lang="ja">Share Twitter!</a>

<hr>
<%= form_for(@new_micropost) do |f|%>
<%= f.hidden_field :topic_id %>
<div class="row">
  <div class="col">
    <div class="form_group">
    <%= f.file_field :image %>
    </div>
   </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="form-group">
      <%= f.text_field :message, :class => "form-control-plaintext border", :placeholder => "メッセージ本文" %>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <%= f.submit "メッセージを送信", :class => "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>

<hr>

<% @microposts.each do |micropost| %>
<div class="card">
  <div class="card-body">
    <%= micropost.message %><br>
    <% if !micropost.image.blank? %>
    <%= image_tag micropost.image.thumb.url %>  
    <% end %>
    <div class="float-right">
    <%= link_to "返信", new_reply_path(micropost_id: micropost.id, topic_id:micropost.topic_id), :class => " btn btn-outline-success"  %>
    <%= link_to "削除", micropost_path(micropost), method: :delete, data: { confirm: "コメントを削除しますか？"}, :class => "btn btn-outline-danger" %>
    </div>
  </div>
  <% @replies.each do |reply| %>
    <% if reply.micropost_id == micropost.id %>
    <div class="card-footer">
    ー　<%= reply.reply %>
    <%= link_to '削除', reply_path(reply),method: :delete, data: {confirm: "返信を削除しますか"}, :class => "float-right btn btn-outline-danger" %>
    </div>
    <% end %>
  <% end %>  
</div>
<% end %>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


